# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Logs
logs
*.log
log.txt

# OS
.DS_Store
Thumbs.db

# React
client/node_modules/
client/build/
client/.env
client/.DS_Store

# VS Code
.vscode/

# Compiled source #
dist/
build/
*.tsbuildinfo

# Database
*.sqlite
*.db
*.sql

# Others
.env.local
.env.*.local
coverage/
